---
import ProjectImage from "./ProjectImage.astro";
import img1 from "/1.jpg";
import img2 from "/2.jpg";
import img3 from "/3.jpg";
import img4 from "/4.jpg";
import img5 from "/5.jpg";
import img6 from "/6.jpg";
import img7 from "/7.jpg";
import img8 from "/8.jpg";
import img9 from "/9.jpg";
import img10 from "/10.jpg";
import img11 from "/11.jpg";
import img12 from "/12.jpg";
import img13 from "/13.jpg";
import img14 from "/14.jpg";
import img15 from "/15.jpg";
import img16 from "/16.jpg";
import img17 from "/17.jpg";
import img18 from "/18.jpg";
import img19 from "/19.jpg";
import img20 from "/20.jpg";
---

<div class="mx-12" id="gallery">
  <div class="grid grid-cols-1 gap-24 xl:mx-48 xl:grid-cols-2">
    <ProjectImage src={img1} alt="roadwork" />
    <ProjectImage src={img2} alt="roadwork" />
    <ProjectImage src={img3} alt="roadwork" />
    <ProjectImage src={img4} alt="roadwork" />
    <ProjectImage src={img4} alt="roadwork" />
    <ProjectImage src={img5} alt="roadwork" />
    <ProjectImage src={img6} alt="roadwork" />
    <ProjectImage src={img7} alt="roadwork" />
    <ProjectImage src={img8} alt="roadwork" />
    <ProjectImage src={img9} alt="roadwork" />
    <ProjectImage src={img10} alt="roadwork" />
    <ProjectImage src={img11} alt="roadwork" />
    <ProjectImage src={img12} alt="roadwork" />
    <ProjectImage src={img13} alt="roadwork" />
    <ProjectImage src={img14} alt="roadwork" />
    <ProjectImage src={img15} alt="roadwork" />
    <ProjectImage src={img16} alt="roadwork" />
    <ProjectImage src={img17} alt="roadwork" />
    <ProjectImage src={img18} alt="roadwork" />
    <ProjectImage src={img19} alt="roadwork" />
    <ProjectImage src={img20} alt="roadwork" />
  </div>
</div>
