---
interface Props {
  question: string;
  answer: string;
  id: string;
}
const { question, answer, id } = Astro.props;
---

<div id="accordion-collapse" data-accordion="collapse">
  <h2 id="accordion-collapse-heading-{id}" class="dark:bg-gray-500 rounded-md">
    <!-- MAKE {id} be the value of the prop! -->
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium text-left text-white-text hover:text-gray-900 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-100 hover:bg-gray-100 dark:hover:bg-gray-800 bg-light-mode-q-bg dark:bg-dark-mode-q-bg"
      data-accordion-target="#accordion-collapse-body-1"
      aria-expanded="true"
      aria-controls="accordion-collapse-body-{id}"
    >
      <span>"{question}"</span>
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-collapse-body-{id}"
    class="hidden"
    aria-labelledby="accordion-collapse-heading-{id}"
  >
    <div
      class="p-5 border border-b-0 border-gray-200 bg-accent-faded dark:border-gray-700 dark:bg-gray-900 dark: bg-accent-dark"
    >
      <p class="mb-2 text-gray-800 dark:text-gray-400">
        {answer}
      </p>
      <!-- <p class="text-gray-800 dark:text-gray-400">
          &#128279; Learn more at the <a
            href="/index"
            class="text-blue-600 dark:text-blue-500 hover:underline"
            >main page</a
          > and get facts, stats, and other fun nerd stuff.
        </p> -->
    </div>
  </div>
</div>
